* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 16px;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: var(--bg-color);
    color: var(--text-color);
}

.navbar {
    background-color: var(--bg-primary);
    position: fixed;
    transition: width 400ms ease 0s;
}

.navbar-nav {
    list-style: none;
    display: flex;
    align-items: center;
    text-align: center;
}

.nav-item {
    width: 100%;
    height: 5rem;
    display: flex;
    align-items: center;
}

.nav-link svg {
    min-width: 2rem;
    width: 2rem;
    margin: 0 1.5rem;
}

.nav-link {
    display: flex;
    align-items: center;
    filter: grayscale(100%) opacity(0.7);
    transition: var(--transition-speed);
    width: 100%;
    height: 100%;
    text-decoration: none;
}

.link-text {
    color: var(--text-primary);
    display: none;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    font-weight: bold;
    transition: var(--transition-speed);
}

.logo-link {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
}

.logo-text {
    animation: slideRight 1s ease;
}

.fa-primary {
    color: var(--svg-primary);
}
  
.fa-secondary {
    color: var(--svg-secondary);
}
  
.fa-primary,
.fa-secondary {
    transition: var(--transition-speed);
}

.nav-item:hover {
    background-color: var(--bg-secondary);
    color: var(--text-secondary);
    transition: all 500ms ease;
}

.nav-item:hover .nav-link {
    filter: grayscale(0%) opacity(1);
    transition: all 500ms ease;
}

.logo-link svg {
    transform: rotate(0deg);
    transition: var(--transition-speed);
}

.navbar:hover .logo-link svg {
    transform: rotate(-180deg);
}

#darkToggle {
    display: none;
}

#lightToggle {
    display: block;
}

/*Larger Screens*/
@media only screen and (min-width: 600px) {
    main {
        margin-left: 5rem;
        padding: 1rem;
    }

    .navbar:hover {
        width: 16rem;
    }

    .navbar-nav {
        flex-direction: column;
        height: 100%;
    }
    
    .navbar:hover .link-text {
        display: block;
        animation: slideRightText var(--transition-speed) ease;
    }

    #themeButton{
        margin-top: auto;
    }   

    .navbar {
        height: 100vh;
        width: 5rem;
    }
}

/*Smaller Screens*/
@media only screen and (max-width: 600px) {
    .logo {
        display: none;
    }

    .navbar-nav {
        flex-direction: row;
    }

    #themeButton{
        margin-left: auto;
    }  

    .navbar {
        height: 5rem;
        width: 100vw;
        bottom: 0;
    }

    .nav-link {
        justify-content: center;
    }
}

@keyframes slideRight {
    0% {
        transform: translateX(-75%)
    }

    100% {
        transform: translateX(0%)
    }
}

@keyframes slideRightText {
    0% {
        transform: translateX(-20%)
    }

    100% {
        transform: translateX(0%)
    }
}

main {
    height: 100%;
    overflow-x: hidden;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 1fr 2fr 1fr;
    height: 100%;
}

.grid-item {
    background-color: var(--bg-primary);
    margin: 5px;
    border: 3px var(--bg-secondary) solid;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 10px;
}

.grid-item:hover {
    transform: scale(110%);
    transition:all 0.5s ease-in-out;
}

.flex-side-items {
    display: flex;
    justify-content: space-around;
    height: 20%;
}

.flex-item {
    background-color: var(--bg-primary);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 25%;
    border-radius: 10px;
    height: 100%;
    border: var(--bg-secondary) 3px solid;
}

.flex-item:hover {
    transform: scale(110%);
    transition: all 0.5s ease-in-out;
}

.flex-item svg {
    min-width: 50px;
    width: 50px;
}

.box-text {
    text-align: center;
    margin: 15px;
}

::-webkit-scrollbar {
    width: 0.5rem;
}
  
::-webkit-scrollbar-track {
    background: var(--bg-secondary); 
}
   
::-webkit-scrollbar-thumb {
    background: var(--bg-primary); 
}

@media only screen and (max-height: 750px) {
    .flex-item svg {
        display: none;
    }
}

@media only screen and (max-width: 745px) {
    .flex-item svg {
        display: none;
    }
}